<ion-view view-title="Issue List">
	<ion-content ng-controller="IssueListCtrl">
		<ion-list>
			<ion-item id="{{issue.id}}" class="item-tumbnail-left" ui-sref="sideMenu.issueDetail({issueId:issue.id})" ng-repeat="issue in issues" ng-if="issue.state != 'rejected'">
				<div class="inspctr-thumbnailbox" style="background-image:url('{{issue.imageUrl}}');"></div>
				<h2 class="inspctr-list">{{issue.issueType.name}}</h2>
				<p class="inspctr-list">{{issue.description}}</p>
				<p ng-if="issue.state == 'in_progress'" class="inspctr-showstate">in progress</p>
				<p ng-if="issue.state == 'rejected'" class="inspctr-showstate-alert">rejected</p>
				<p ng-if="issue.state == 'resolved'" class="inspctr-showstate-positive">resolved</p>
				<p ng-if="issue.assignee.name" class="inspctr-showstate">Assignee: {{issue.assignee.name}}</p>
				<div ng-repeat="action in issue.actions">
					<p ng-if="action.type == 'resolve' && issue.assignee.name == null" class="inspctr-showstate">Acknowledged</p>
				</div>
				<ion-option-button class="button-positive" ng-click="assignIssue('{{issue.id}}')">Assign</ion-option-button>
				<ion-option-button class="button-assertive" ng-click="rejectIssue('{{issue.id}}')">Reject</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="10%"></ion-infinite-scroll>
	</ion-content>
</ion-view>