<ion-view view-title="New Issue">
<ion-content ng-controller="NewIssueCtrl">

<div class="padding">		
	<h2>Create a new Issue</h2>
</div>
<div class="list inspctr-form">
	<label class="item item-input item-stacked-label" ng-click="showIssueTypePopup()">
		<span class="input-label">Issue Type</span>
		<p ng-if="newIssue.issueType == null" class="inspctr-item-input">Select Issue Type</p>
		<p ng-if="newIssue.issueType" class="inspctr-item-input">{{newIssue.issueType}}</p>
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Description</span>
		<input type="text" ng-model="newIssue.description" placeholder="Description of issue">
	</label>
	<label class="item">
		<span class="input-label">Location</span>
		<p>Latitude: {{newIssue.lat}}</p>
		<p>Longitude: {{newIssue.lng}}</p>
		<button class="button button-block button-positive" ng-click="setLocation()">Set Location</button>
	</label>
	<label class="item">
		<span class="input-label">Picture</span>
		<div ng-if="newIssue.imageUrl != ''" class="inspctr-full-imagebox">
			<img ng-src="{{newIssue.imageUrl}}">
		</div>	
		<button ng-if="newIssue.imageUrl == ''" class="button button-block button-positive" ng-click="addPicture()">Add a picture</button>
		<button ng-if="newIssue.imageUrl" class="button button-block button-positive" ng-click="addPicture()">Change picture</button>
	</label>
	<label class="item item-input">
		<input type="text" placeholder="set image URL manually" ng-model="newIssue.imageUrl">
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Tags</span>
		<input type="text" ng-model="newIssue.tags" placeholder="tag, tag, tag">
	</label>
	<div id="inspctr-notifications">
		<div class="bar bar-loading bar-calm" ng-if="issueSaved">
  			Issue Saved
		</div>
	</div>
	<button ng-if="issueComplete()" class="button button-full button-calm" ng-click="saveNewIssue()">Save</button>
	<button class="button button-full button-stable" ng-click="clearNewIssue()">Clear</button>
</div>
</ion-content>
</ion-view>