<ion-view view-title="New Issue">
<ion-content ng-controller="NewIssueCtrl">
<div class="padding">
	<h2>Create a new Issue</h2>
</div>
<div class="list inspctr-form">
	<label class="item item-input item-stacked-label">
		<span class="input-label">Issue Type</span>
		<input id="issueType" type="text" ng-model="newIssue.issueType" type="text" ng-click="showIssueTypePopup()" placeholder="Select Issue Type">
	</label>
	<label class="item item-input item-stacked-label">
		<span class="input-label">Description</span>
		<input type="text" ng-model="newIssue.description" placeholder="Description of issue">
	</label>
	<label class="item">
		<span class="input-label">Location</span>
		<p>Latitude: {{newIssue.lat}}</p>
		<p>Longitude: {{newIssue.lng}}</p>
		<button class="button button-block button-positive" ng-click="">Set Location</button>
	</label>
	<label class="item">
		<span class="input-label">Picture</span>
		<img ng-if="newIssue.imageUrl">
		<button class="button button-block button-positive">Add a picture</button>
	</label>
</div>
</ion-content>
</ion-view>