/* inspctr styles
	Author: Christian Heimann;
	Additional styles for inspctr app, adapted for iPhone and iPad.
 */

.bar.bar-header {
	position: relative;
}


/* Issue List with thumbnails */

.glue-scroll-content {
	margin-top: -45px;
}

h2.inspctr-list {
	display: inline-block;
	width: 100%;
}

p.inspctr-list {
	width: 70%;
	line-height: 1.2;
	margin-bottom: 10px;
}

div.inspctr-thumbnailbox {
	position: relative;
	width: 20%;
	max-width: 90px;
	margin-right: 15px;
	float:left;
	background-size: cover;
}

div.inspctr-thumbnailbox:before{
	content: "";
	display: block;
	margin-top: 100%; 	/* initial ratio of 1:1*/
}

p.inspctr-showstate {
	font-size: 0.65em;
	font-weight:bold;
	color: rgb(143,203,130);
}

/* to make sure that the whole list is displayed */
div.inspctr-bottomblock {
	width: 100%;
	height: 10px;
	background-color: rgb(240,240,240);
	margin-bottom:120px;
}