/* inspctr styles
	Author: Christian Heimann;
	Additional styles for inspctr app, adapted for iPhone and iPad.
 */

.menu .bar-header {
	position: relative;
}


/********* global inspctr stlyling elements ***********/
.inspctr-state {

}

.inspctr-group-box {
	width: 100%;
	margin-bottom: 30px;
	padding: 10px;
	background-color: rgba(56,126,245,0.15);
	border: 1px solid rgb(56,126,245);
}

.inspctr-group-box h2 {
	font-size: 0.8em;
	font-weight: bold;
	color: #387ef5;
}

.inspctr-action-detail {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(255,255,255,0.95);
	font-size: 0.8em;
	line-height: 1.2;
}

.inspctr-action-detail h3 {
	margin: 0 0 7px 0;
	font-size: 1.2em;
	line-height: 1.2;
}

.inspctr-action-detail p {
	margin: 0 0 3px 0;
}

.inspctr-action-detail .date {
	margin-bottom: 5px;
	color: rgb(56,126,245);
}

/*********** Issue List with thumbnails *************/

.glue-scroll-content {
	margin-top: -44px;
}

h2.inspctr-list {
	display: inline-block;
	width: 100%;
}

p.inspctr-list {
	width: 70%;
	line-height: 1.2;
	margin-bottom: 10px;
}

div.inspctr-thumbnailbox {
	position: relative;
	width: 20%;
	max-width: 90px;
	margin-right: 15px;
	float:left;
	background-size: cover;
}

div.inspctr-thumbnailbox:before{
	content: "";
	display: block;
	margin-top: 100%; 	/* initial ratio of 1:1*/
}

p.inspctr-showstate {
	font-size: 0.65em;
	font-weight:bold;
	color: rgb(143,203,130);
}

p.inspctr-showstate-alert {
	font-size: 0.65em;
	font-weight:bold;
	color: #ef473a;
}

p.inspctr-showstate-positive {
	font-size: 0.65em;
	font-weight:bold;
	color: #387ef5;
}

/* to make sure that the whole list is displayed */
div.inspctr-bottomblock {
	width: 100%;
	height: 60px;
	margin-bottom:100px;
}

/******** Issue Detail view *************/

p.inspctr-issue-date {
	font-size: 0.65em;
	color: rgb(143,203,130);
	text-align: center;
}

div.inspctr-full-imagebox {
	display:block;
	width:100%;
}

div.inspctr-full-imagebox img {
	width:100%;
	max-width: 600px;
	height: auto;
}

.inspctr-detail-map-height {
	height: 250px;
}


/*********** Full map with issues **********/
.inspctr-flexible-map-height {
	height: 400px;
}


/********** Create new Issue view ************/

.inspctr-form .input-label {
	color: rgb(56,126,245);
	font-size: 0.8em;
	font-weight: bold;
}

.item p.inspctr-item-input {
	margin: 8px 0;
}

.inspctr-create-new-element {
	color: rgb(56,126,245);
}

.inspctr-close-popup {
	color: rgb(245,56,126);
}

.bar.bar-loading {
  display: block;
  height: 30px;
  
  /** for Notifications: added from example on http://forum.ionicframework.com/t/flash-message/5735; **/
  /* starts right below a normal header */
  top: 0;
  
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 30px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: 200ms all;
}


/* 
 * make the content's top changes animate. might not always look good, but looks
 * good when our loader is added & removed
 */
.has-header {
  -webkit-transition: 200ms top;
}
/*
.has-header.has-loading {
   44px (header) + 24px 
  top: 68px;
}*/

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 30px;
  border-width: 1px;
}

#inspctr-notifications {
	position: relative;
	z-index: 200;
	top: 0;
	width: 100%;
	height: 30px;
	margin: 20px 0;
}



/* Location setter */
.inspctr-background {
	position: relative;
	z-index: -100
}

.inspctr-foreground.button.button-block {
	position: fixed;
	bottom: 20px;
	z-index: 100;
}