/* inspctr styles */

.bar.bar-header {
	position: relative;
}


/* List with thumbnails */

h2.inspctr-list {
	display: inline-block;
	width: 100%;
}

p.inspctr-list {
	width: 70%;
}

/*div.inspctr-thumbnailbox {
	display: inline-block;
	width: 20%;
	height: 60px;
	margin-right: 10px;
	background-size: cover;
	background-position: center center;
}*/

div.inspctr-thumbnailbox {
	position: relative;
	width: 20%;
	margin-right: 5%;
	margin-bottom: 5%;
	float:left;
}

div.inspctr-thumbnailbox:before{
	content: "";
	display: block;
	margin-top: 100%; 	/* initial ratio of 1:1*/
}